# ================= DATABASE =================
# Thay các thông số sau cho phù hợp với môi trường của bạn:
# DB_DRIVER, DB_URL, DB_USERNAME, DB_PASSWORD
DB_DRIVER=org.postgresql.Driver
DB_URL=jdbc:postgresql://localhost:5432/your_database
DB_USERNAME=your_username
DB_PASSWORD=your_password
HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# ================= JWT =================
JWT_SECRET=SecretKey
JWT_COOKIE_NAME=thisiscookie
JWT_EXPIRATION=21600000

# ================= MAIL =================
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_password

# ================= SPRING =================
SPRING_PROFILES_ACTIVE=dev
# SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop # Sử dụng create-drop cho môi trường dev để tự động tạo lại bảng mỗi khi khởi động ứng dụng