<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Reset password</title>
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body>
	<h3>This is mail for rest your password !</h3>
 	<p><a th:href="${tokenUrl}">Click here change password !</a><p>
 <hr>
	<p>This is an automated email, please do not reply.</p>

</body>
</html>